<div class="container" style="width: 1000px;">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-1 col-md-offset-2">
        <div *ngIf="imageDetail" class="px-5">
          <br>
          <h1 style="font-size:250%; color: #656ebd;">Check Image Details</h1><hr>
          <br>
          <br>
          <div>
            <img src="{{imageDetail.url}}" alt="" class="image-responsive smaller">
          </div>  
          <div><br>
            <h3 style="color:#656ebd; font-size: 18px;">Image Title</h3>
            <p style="font-size: medium;">{{imageDetail.title}}</p>
          </div>      
          <div>
            <h3 style="color:#656ebd;font-size: 18px;">Image Description</h3>
            <p style="font-size: medium;">{{imageDetail.secret}}</p>
          </div>
      </div>
      <br>
      <div class="px-5">
        <h2 style="color:#656ebd ;">Post Image Ratings!</h2>
        <form [formGroup]="ratingForm" (ngSubmit)="onSubmit()" >
          <div class="form-group" style="padding-right:105px;">
            <ngx-star-rating formControlName="rating" [id]="'rating'"></ngx-star-rating>
          </div>
          <br><br><br>
          <div class="form-group">
            <input type="text" formControlName="name"  placeholder="Your Name" required>
          </div>
          <div class="form-group">
            <input type="text" formControlName="reason" placeholder="Reason Of Ratings" required>
          </div>
          <button type="submit" class="btn btn-primary .btn-lg" [disabled]="!ratingForm.valid">Submit Feedback</button>
        </form>
      </div>
    </div>
  </div>

 
  