
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Flickr Images</a>
    </div>
    <ul class="nav nav-tabs">
      <li class="nav-item" routerLinkActive="active"><a routerLink="/" class="nav-link">Food Gallery</a></li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="review" class="nav-link">Image Review</a></li>
    </ul>
  </div>
</nav>


<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" >
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <app-images-grid></app-images-grid> -->
